body{

  margin:0;
  //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.4;
  color:grey;
  overflow-x:hidden;
}

main {
  height: 100%;
}
#nav {

  background-color: white;
  border-bottom: 1px solid lightgrey;
  height: 50px;
}

.main-section {

  position:relative;
  // .col-9 {
  //   padding-right: 0;
  // }
  #products {

    padding-top: 17px;
    //margin-right: 0px;
    //height:calc(100vh - 50px);
    height: 100%;
    border-right: 1px solid lightgrey;

    .card {
      border-radius: 4%;
      -webkit-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
      -moz-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
      box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
      margin-right: 12px;
      margin-bottom: 12px;
      width: 180px;
      height: 250px;
      .card-body {
        padding: 4px;
        p {
          margin: 0px;
          font-size: 13px;
        }
        .location {
          color: lightgrey;
        }
        .text {
          color: lightgrey;
          font-size: 10px;
        }
        .price {
          color: orange;
        }
      }

      .image {
        border-top-left-radius: 4%;
        border-top-right-radius: 4%;
        background-color: lightgrey;
        height: 80%;
        //display: block;
      }
    }
  }
  #categories {
    width: 500px;
    padding-top: 15px;
    .category {
      -webkit-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
      -moz-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
      box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
      border: 1px solid lightgrey;
      border-radius: 2px;

      width: 480px;
      margin-left: 18px;
      margin-bottom: 14px;
      height: 70px;
      .info {
        padding-left: 10px;
        padding-top: 9px;
        .image {
          background-color: lightgrey;
          height: 50px;
          width: 50px;
          border-radius: 4px;
        }
        .category-total {
          text-align: center;
          font-size: 12px;
          border-radius: 5px;
          background-color: tomato;
          color: white;
          width: 35px;
        }
      }

    }
  }
}
