body{

  margin:0;
  //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.4;
  color:grey;
  overflow-x:hidden;
}

main {
  height: 100vh;
}
#nav {

  background-color: white;
  border-bottom: 1px solid lightgrey;
  height: 50px;
}

.main-section {
  height:calc(100vh - 50px);
  //position:relative;
  // .col-9 {
  //   padding-right: 0;
  // }
  //min-height: calc(100vh - 50px);
  .products-container {
    padding-top: 17px;
    border-right: 1px solid lightgrey;
    // .row {
    //   margin: none;
    // }
    //margin-left: 15px;

    //
    //width: calc(100% - 50px);
    // #products.container {
    //   width: none!important;
    // }
    #products {
      // .row {
      //   margin: none;
      // }

      //margin-right: 0px;

      //height: 100%;


      .card {
        //position: relative;
        border-radius: 4%;
        -webkit-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
        box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
        margin-right: 12px;
        margin-bottom: 12px;
        width: 180px;
        height: 250px;
        .card-body {
          padding: 4px;
          p {
            margin: 0px;
            font-size: 13px;
          }
          .location {
            color: lightgrey;
          }
          .text {
            color: lightgrey;
            font-size: 10px;
          }
          .price {
            color: orange;
          }
        }

        .image {
          border-top-left-radius: 4%;
          border-top-right-radius: 4%;
          background-color: lightgrey;
          height: 80%;
          //display: block;
        }
      }
    }
  }
  .categories-container {
    //margin-right: 15px;
    //width: 510px;
    //padding-left: 10px;
    #categories {

      padding-top: 15px;
      .category {

        -webkit-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
        box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.22);
        border: 1px solid lightgrey;
        border-radius: 2px;

        width: 480px;
        //margin-left: 18px;
        margin-bottom: 14px;
        height: 70px;
        .info {
          padding-left: 10px;
          padding-top: 9px;
          .image {
            background-color: lightgrey;
            height: 50px;
            width: 50px;
            border-radius: 4px;
          }
          .category-total {
            text-align: center;
            font-size: 12px;
            border-radius: 5px;
            background-color: tomato;
            color: white;
            width: 35px;
          }
        }

      }
    }
  }

}
